html, body      { font-family: 'Open Sans'; }
a 				{ color: #666; text-decoration: none; font-weight:900;}
a:hover 		{ text-decoration: underline;}
h1      		{ color: #666; text-decoration: none; font-weight:bold; font-size: 1.6em}
h1 a:hover 		{ text-decoration: none}
h2              { font-size: 1.2em; color: #377ba8; }

.page           { margin: 2em auto; margin-top: -0.5em; width: 55%; padding: 0.8em; background: white; }

#header 		{ height: 90px; }
.nav			{ margin-top: -1.8em; text-align: right; padding: 1em; border-bottom: 1px solid #eee; font-size: 0.8em;}

.entries        { list-style: none; margin: 0; padding: 0; }
.entries li 	{ margin-bottom: 3em;}
.entries li p   { font-size: 0.9em; line-height: 1.8em }
.entries li h2  { margin-left: 0em;  }
.entries li .post-meta { font-size: 0.8em; color: #999;}
.add-entry      { font-size: 0.9em; border: 1px solid #ccc; margin: 2em; padding: 1em; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.footer			{ text-align: left; padding: 1em 1em 1em 0em; border-top: 1px solid #eee; font-size: 0.8em; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }